<table class="job-listing">
    @foreach(Dictionary<string, string> job in ViewBag.jobs)
    {
                @foreach(string key in job.Keys)
                {
                    <tr><td>@key</td> <td>@job[key]</td></tr>
                    
                }
    }
</table>

